.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  margin: 50px 50px;
}

.App__row {
  display: flex;
}
.App__gutter {
  flex: 1;
}

.App__center-column {
  flex: 2;
}

.App__title-text {
  cursor: pointer;
}

.App__title-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #666666;
}

.Main__validationMsg {
  color: red;
  font-size: 12px;
}

.IterationTable {
  margin-top: 30px;
}

.IterationTable__header-cell {
  padding: 5px 10px;
}

.IterationTable__body-cell {
  padding: 5px 20px;
}

/* This is very not BEM. Do you care? */
table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr {
  height: 30px;
}

input[type='text'],
input[type='textarea'],
textarea {
  background: transparent;
  border: none;
  overflow: hidden;
  resize: none;
}

input[type='button'] {
  margin: 10px 2px;
}

thead {
  border-bottom: 1px solid #66666666;
}
