.SidePanel__card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #666666;
  width: 50%;
  cursor: pointer;
}

.SidePanel__card:hover {
  background-color: #dddddd;
}
.SidePanel__card--selected {
  font-weight: bold;
}

.SidePanel__card-middle {
  margin: 0 0;
  padding: 0 5px;
}

.SidePanel__card-vert-gutter {
  display: flex;
  align-items: center;
  height: 24px;
}

.SidePanel__close-icon {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  fill: #ca7070ed;
}

.SidePanel__title {
  /* Material ui body 1 */
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.SidePanel__date {
  /* Material ui body 2 */
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #666666;
}
